:root {
    --sqr: 120px;
    --gap: 15px;
}

body {
    font-family: 'Red hat mono', sans-serif;
    font-size: 14px;
    padding: 2vw;
}

h1, h2 { font-family: 'Unica one', 'Red hat mono', sans-serif; }

a { text-decoration: none; }


/*Radios & buttons*/
.thumb {
    width: 40px;
    height: 40px;
}

#back-image {
    display: flex;
    gap: 50px;
}

#radios {
    display: flex;
    gap: 50px
}

button {
    font-family: 'Red hat mono', sans-serif;
    padding: 8px 16px;
}


#container {
    display: flex;
    flex-direction: column;
    max-width: calc(8 * var(--sqr) + 7 * var(--gap));
    margin: 0 auto;
}

#function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    padding-bottom: 80px;
    border-bottom: 1px solid black;
    justify-content: center;
}

img {
    width: var(--sqr);
    height: var(--sqr);
    border-radius: 5px;
}

img:hover { transform: scale(1.05); }




/*Credits*/


#credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 12px;
    
}

.credit {
    display: flex;
    flex-direction: column;
    width: 75px;
}

.credit img {
    width: 75px;
    height: 80px;
}

.credit a {
    font-size: .7rem;
    text-align: center;
}



/*Mobile*/
@media (max-width: 600px) {
    img {
        height: 80px;
        width: 80px;
    }

    .credit img {
        height: 50px;
        width: 50px;
    }

    #radios {
        gap: 5px;
        justify-content: space-between;
    }

    #back-image {
        gap: 0px;
    }

    p { font-size: 12px; }
}
